@font-face {
	font-family: 'Conv_FuturaStd-Bold';
	src: url('../fonts/FuturaStd-Bold.eot');
	src: local('☺'), url('../fonts/FuturaStd-Bold.woff') format('woff'), url('../fonts/FuturaStd-Bold.ttf') format('truetype'), url('../fonts/FuturaStd-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_FuturaStd-Heavy';
	src: url('../fonts/FuturaStd-Heavy.eot');
	src: local('☺'), url('../fonts/FuturaStd-Heavy.woff') format('woff'), url('../fonts/FuturaStd-Heavy.ttf') format('truetype'), url('../fonts/FuturaStd-Heavy.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_FuturaStd-Medium';
	src: url('../fonts/FuturaStd-Medium.eot');
	src: local('☺'), url('../fonts/FuturaStd-Medium.woff') format('woff'), url('../fonts/FuturaStd-Medium.ttf') format('truetype'), url('../fonts/FuturaStd-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

