body {
    scrollbar-base-color: #000000;
  scrollbar-face-color: #000000;
  scrollbar-3dlight-color: #000000;
  scrollbar-highlight-color: #000000;
  scrollbar-track-color: #000000;
  scrollbar-arrow-color: #000000;
  scrollbar-shadow-color: #000000;
  scrollbar-dark-shadow-color: #000000;
}
::-webkit-scrollbar {
    width: 7px;
    padding: 0!important;
    margin-left: -1rem!important;
    margin-right: -0.75rem!important;
    background: #000000; 
    display: none;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #000000; 
    @include border-radius(1.5rem 1.5rem)
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000000; 
  }